/* All pages formatting */

html {
    font-size: 16px;
}
body {
    text-align: center;
    font-family: "Noto Serif JP", Source Sans Pro, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    height: 100%;
    margin: 0px auto;
    background-color: #eeeeea;
}

h1 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-size: 48px;
    color: #303B3B;
}
h2 {
    text-align: center;
    color: #31A67E;
    font-family: "Playfair Display Italic", serif;
}
h3 {
    text-align: center;
    color: #B95C43;
    font-family: "Playfair Display Italic", serif;
}
h4 {
    text-align: center;
    color: #462B08;
}

a {
    color: #4A7884;
}
a:hover {
    color: #39606A;
}

p {
    color: #364845;
    text-align: left;
}

button {
    background-color: #426771;
    border: none;
    color: #FEFEFD;
    padding: 15px 32px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    text-transform: uppercase;
}
button:hover {
    background-color: #2A444B;
}
button.active {
    font-weight: bold;
    background-color: #B7CACE;
}

.logo {
    vertical-align: text-bottom;
    height: 54px;
}

.content-area {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    z-index: 1;
    grid-template-rows: 1fr auto;
    background-color: white;
}
.grid-container {
    background: linear-gradient(to bottom right, #B7E1DE, #AAC6D4, #74BAA6);
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    grid-template-rows: auto;
}

.bubble {
    background-color: #D9EDED;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

.content-area-banner {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    z-index: 1;
    grid-template-rows: 1fr auto;
    background-color: white;
}
.image-panel {
    grid-column: 1 / span 3;
    grid-row: 2;
    max-width: 1160px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */

.title-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    z-index: 1;
    grid-template-rows: 1fr auto;

    background-color: #eeeeea;
    color: #faf7f0;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 0px;
}

.title-item-1 {
    grid-column: 2;
    grid-row: 1;
    width: 1200px;
}
.title-button {
    margin-bottom: 5px;
}

.title-item-2 {
    grid-column: 3;
    grid-row: 1;
}
.title-login {
    margin-top: 75px;
}

.logo {
    vertical-align: text-bottom;
    height: 54px;
}

/* Footer */

.footer-area {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    z-index: 1;
    grid-template-rows: 1fr auto;
    background-color: #eeeeea;
    text-align: left;
}

footer {
    background-color: #eeeeea;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #D9C7A3;
    position: relative;
    z-index: 10;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    grid-template-rows: auto;
}

.footer-link-1 {
    grid-column: 1;
    grid-row: 1;
}
.footer-link-2 {
    grid-column: 1;
    grid-row: 2;
}
.footer-link-3 {
    grid-column: 1;
    grid-row: 3;
}
.footer-link-4 {
    grid-column: 1;
    grid-row: 4;
}
.footer-link-5 {
    grid-column: 2;
    grid-row: 1;
}
.footer-link-6 {
    grid-column: 2;
    grid-row: 2;
}
.footer-link-7 {
    grid-column: 2;
    grid-row: 3;
}

.footer-link-1,
.footer-link-2,
.footer-link-3,
.footer-link-4,
.footer-link-5,
.footer-link-6,
.footer-link-7 {
    margin: 5px;
}

/* Index page formatting */

.index-image-1 {
    grid-column: 1 / span 3;
    grid-row: 1;
    max-height: 400px;
}

.index-item-0 {
    grid-column: 1 / span 3;
    grid-row: 2;
    margin-left: 40px;
    margin-right: 40px;
}
.index-item-0-text {
    font-size: 18px;
}

.index-item-1 {
    grid-column: 1 / span 3;
    grid-row: 3;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    padding: 10px;
}
.index-item-2 {
    grid-column: 1;
}
.index-item-3 {
    grid-column: 2;
}
.index-item-4 {
    grid-column: 3;
}

.index-item-2,
.index-item-3,
.index-item-4 {
    grid-row: 4;
}

.index-item-1 input {
    background-color: white;
    border: none;
    border-radius: 25px;
    padding: 1% 1% 1% 1%;
    width: 70%;
    margin-top: 0%;
    text-align: center;
}

#search-result {
    text-align: center;
}

/* Dashboard page formatting */

.grid-container-dashboard {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1600px) 1fr;
    grid-template-rows: auto;
}

.dashboard-item-1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}
.dashboard-item-2 {
    grid-column: 1;
    grid-row: 2;
}
.dashboard-item-3 {
    grid-column: 2;
    grid-row: 2;
}
.dashboard-item-4 {
    grid-column: 3;
    grid-row: 2;
}
.dashboard-item-5 {
    grid-column: 1;
    grid-row: 3;
}
.dashboard-item-6 {
    grid-column: 3;
    grid-row: 3;
}

.dashboard-item-5 h2,
.dashboard-item-6 h2 {
    font-size: 36px;
}

.dashboard-item-7 {
    grid-column: 2;
    grid-row: 3;
    border: 1px;
    font-family: "Playfair Display Italic", serif;
}

.dashboard-form {
    line-height: 1.5;
    max-width: fit-content;
    margin: 30px auto 5px;
    border: 1px;
    border-radius: 15px;
    font-family: "Playfair Display Italic", serif;
}
.dashboard-form input,
.dashboard-form select{
    border: 1px;
    border-radius: 5px;
    margin: 1px;
}

.dashboard-images {
    width: 100%;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload {
    display: inline-block;
    font-family: "Playfair Display Italic", serif;
    background-color: #39606A;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
}

#results-page-dashboard {
    grid-column: 2;
    grid-row: 3;
    gap: 10px;
    padding: 20px;
}

/* Analysis page formatting */

.analysis-item-1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}
.analysis-item-2 {
    grid-column: 1;
    grid-row: 3;
}
.analysis-item-3 {
    grid-column: 2;
    grid-row: 3;
}
.analysis-item-4 {
    grid-column: 3;
    grid-row: 3;
}
.analysis-item-5 {
    grid-column: 1 / span 3;
    grid-row: 1;
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Summary page formatting */

.summary-item-1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}
.summary-item-2 {
    grid-column: 1;
    grid-row: 3;
}
.summary-item-3 {
    grid-column: 2;
    grid-row: 3;
}
.summary-item-4 {
    grid-column: 3;
    grid-row: 3;
}
.summary-item-5 {
    grid-column: 1 / span 3;
    grid-row: 1;
    border-radius: 25px;
    margin: 10px;
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

.summary-item-1,
.summary-item-2,
.summary-item-3,
.summary-item-4 {
    padding-left: 25px;
    padding-right: 25px;
}

/* Resources page formatting */

.resources-item-1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.resources-item-2 {
    grid-column: 1;
    grid-row: 3;
}
.resources-item-3 {
    grid-column: 2;
    grid-row: 3;
}
.resources-item-4 {
    grid-column: 3;
    grid-row: 3;
}
.resources-item-5 {
    grid-column: 1 / span 3;
    grid-row: 1;
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

.resources-item-2 ul,
.resources-item-3 ul,
.resources-item-4 ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

/* About page formatting */

.about-item-1 {
    grid-column: 1;
    grid-row: 1;
}
.about-item-2 {
    grid-column: 2;
    grid-row: 1;
}
.about-item-3 {
    grid-column: 3;
    grid-row: 1;
}

.about-image-1 {
    grid-column: 1 / span 3;
    grid-row: 1;
    max-height: 300px;
}

.primary-color {
    background-color: #AAC6D4;
}
.secondary-color-1 {
    background-color: #EEEEEA;
}
.secondary-color-2 {
    background-color: #303B3B;
}
.secondary-color-3 {
    background-color: #31A67E;
}
.secondary-color-4 {
    background-color: #B95C43;
}
.secondary-color-5 {
    background-color: #462B08;
}
.secondary-color-6 {
    background-color: #4A7884;
}
.secondary-color-7 {
    background-color: #364845;
}
.secondary-color-8 {
    background-color: #2A444B;
}
.secondary-color-9 {
    background-color: #B7CACE;
}
.secondary-color-10 {
    background-color: #D9EDED;
}

.primary-color,
.secondary-color-1,
.secondary-color-2,
.secondary-color-3,
.secondary-color-4,
.secondary-color-5,
.secondary-color-6,
.secondary-color-7,
.secondary-color-8,
.secondary-color-9,
.secondary-color-10 {
    vertical-align: text-bottom;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid black;
}

/* Login page formatting */

.login-item-1 p {
    margin: 0;
    white-space: nowrap;
}
.login-item-1 {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    padding-left: 7px;
}
.login-item-2 {
    grid-column: 2;
    grid-row: 2;
}

.login-item-3 button {
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
}

#results-page {
    grid-column: 2;
}

#signup {
    max-width: 500px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

#signup .row {
    margin: auto;
    display: flex;
    gap: 25px;
}

#signup input {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#signup button {
    width: 50%;
    box-sizing: border-box;
    grid-column: 3;
}

#signup-btn,
#signup-btn:hover,
#signup-btn:active,
#login-btn,
#login-btn:hover,
#login-btn:active {
    background-color: transparent !important;
    color: black !important;
    text-decoration: underline;
    cursor: pointer;
}

#login {
    max-width: 250px;
    height: 300px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    grid-column: 2;
}

#login input {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.clear-button-signup {
    background: none;
    border: none;
    padding-left: 15px;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
    white-space: nowrap;
}

.clear-button-login {
    background: none;
    border: none;
    padding-left: 5px;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
    white-space: nowrap;
}

.login-item-4 p {
    margin: 0;
    white-space: nowrap;
}
.login-item-4 {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    padding-left: 45px;
}

/* Modals */

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    margin: 5% auto;
    margin-top: 2%;
    padding: 20px;
    background-color: #fff;
    width: 90%;
    height: 90%;
    border-radius: 8px;
}

.modal-content iframe {
    width: 90%;
    height: 100%;
}

.close-modal {
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
    color: #444;
}

/* Mobile page responsiveness */

@media (max-width: 480px) {

    #results-page, .grid-item {
        grid-column: 1/-1;
    }
    html {
        font-size: 14px;
    }
    
    .content-area {
        padding: 15px;
        gap: 10px;
        margin: auto;
    }
    
    .index-item-1,
    .analysis-item-1,
    .resources-item-1,
    .dashboard-item-1 {
        grid-column: 1/-1;

    }
    
    .about-item-1,
    .about-item-2,
    .about-item-3,
    .about-item-4,
    .about-item-5,
    .about-item-6,
    .analysis-item-2,
    .analysis-item-3,
    .analysis-item-4,
    .dashboard-item-2,
    .dashboard-item-3,
    .dashboard-item-4,
    .dashboard-item-5,
    .dashboard-item-6,
    .resources-item-2,
    .resources-item-3,
    .resources-item-4,
    .summary-item-1,
    .summary-item-2 {
        grid-column: 1/-1;
        grid-row: auto;
    }
    
    .grid-container {
        grid-template-columns: 5px minmax(0, 1fr) 5px;
    }
    
    .grid-container-dashboard {
        grid-template-columns: 5px minmax(0, 1fr) 5px;
    }
    
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 22px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    h4 {
        font-size: 16px;
    }
    
    button {
        padding: 12px 24px;
        width: 100%;
        margin: 5px 0;
        font-size: 14px;
    }
    
    .index-item-1 input {
        width: 90%;
        padding: 10px;
    }
    
    .title-bar {
        padding: 10px 15px;
    }
    
    .grid-item,
    .index-item-1,
    .about-item-1,
    .about-item-2,
    .about-item-3,
    .about-item-4,
    .about-item-5,
    .about-item-6,
    .analysis-item-1,
    .analysis-item-2,
    .analysis-item-3,
    .analysis-item-4,
    .dashboard-item-1,
    .dashboard-item-2,
    .dashboard-item-3,
    .dashboard-item-4,
    .dashboard-item-5,
    .dashboard-item-6,
    .resources-item-1,
    .resources-item-2,
    .resources-item-3,
    .resources-item-4,
    .summary-item-1,
    .summary-item-2 {
        margin: 5px;
        padding: 15px;
        border-radius: 15px;
    }
    
    footer {
        padding: 20px 10px;
        text-align: center;
        margin-right: 0;
    }
    
    .footer-links {
        margin: 5px;
        padding: 10px;
    }
    
    .modal-content {
        margin: auto;
        width: 90%;
        height: 95%;
        padding: 20px;
    }
    
    .modal-content iframe {
        width: 95%;
    }
    
    .dashboard-form {
        padding: 15px;
        margin: 20px auto;
        width: 95%;
    }
    
    .file-upload {
        padding: 6px 12px;
        margin: 5px;
        font-size: 14px;
    }
}