/* All pages formatting */

html {
    font-size: 16px;
}
body {
    text-align: center;
    font-family: "Noto Serif JP", Source Sans Pro, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    height: 100%;
    margin: 0px;
    background-color: #183341;
}

h1 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-size: 48px;
    color: #9E6313;
}
h2 {
    text-align: center;
    color: #462B08;
    font-family: "Playfair Display Italic", serif;
}
h3 {
    text-align: center;
    color: #565183;
    font-family: "Playfair Display Italic", serif;
}
h4 {
    text-align: center;
    color: #462B08;
}

a {
    color: #9E6313;
}
a:hover {
    color: #5e3c0b;
}

button {
    background-color: #462B08;
    border: none;
    color: #FFE5C3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    text-transform: uppercase;
}
button:hover {
    background-color: #382206;
}
button.active {
    font-weight: bold;
    background-color: #573202;
}

.title-bar {
    background-color: #183341;
    color: #faf7f0;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 0px;
}

footer {
    background-color: #183341;
    padding: 10px;
    text-align: center;
    color: #D9C7A3;
    position: relative;
    z-index: 10;
    margin-bottom: 0px;
}

.content-area {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    z-index: 1;
    grid-template-rows: 1fr auto;
}
.grid-container {
    background-color: #2E617C;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    grid-template-rows: auto;
}

/* Index page formatting */

.index-item{
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: rgba(250, 247, 240, 0.92);
    border-radius: 25px;
}

.index-item input{
    border: none;
    border-radius: 25px;
    padding: 1% 1% 1% 1%;
    width: 70%;
    margin-top: 0%;
    text-align: center;
}


/* About page formatting */

.about-item-1 {
    grid-column: 1;
    grid-row: 1;
}

.about-item-2 {
    grid-column: 2;
    grid-row: 1;
}

.about-item-3 {
    grid-column: 3;
    grid-row: 1;
}

.about-item-4 {
    grid-column: 1;
    grid-row: 2;
}

.about-item-5 {
    grid-column: 2;
    grid-row: 2;
}

.about-item-6 {
    grid-column: 3;
    grid-row: 2;
}

.about-item-1,
.about-item-2,
.about-item-3,
.about-item-4,
.about-item-5,
.about-item-6 {
    background-color: rgba(250, 247, 240, 0.92);
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

/* Analysis page formatting */

.analysis-item-1 {
    grid-column: 1;
    grid-row: 1;
}

.analysis-item-2 {
    grid-column: 2;
    grid-row: 1;
}

.analysis-item-1,
.analysis-item-2 {
    background-color: rgba(250, 247, 240, 0.92);
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

/* Dashboard page formatting */

.grid-container-dashboard {
    background-color: #2E617C;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1600px) 1fr;
    grid-template-rows: auto;
}

.dashboard-item-1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.dashboard-item-2 {
    grid-column: 1;
    grid-row: 2;
}

.dashboard-item-3 {
    grid-column: 2;
    grid-row: 2;
}

.dashboard-item-4 {
    grid-column: 3;
    grid-row: 2;
}

.dashboard-item-5 {
    grid-column: 1;
    grid-row: 3;
}

.dashboard-item-6 {
    grid-column: 3;
    grid-row: 3;
}

.dashboard-item-1,
.dashboard-item-2,
.dashboard-item-3,
.dashboard-item-4,
.dashboard-item-5,
.dashboard-item-6 {
    background-color: rgba(250, 247, 240, 0.92);
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

/* iframe {
    border: 1px solid black;
    width: 100%;
} */

/* Login page formatting */

.login-item-1 {
    grid-column: 1;
    grid-row: 1;
}

.login-item-2 {
    grid-column: 2;
    grid-row: 1;
}

.login-item-1,
.login-item-2 {
    background-color: rgba(250, 247, 240, 0.92);
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

/* Resources page formatting */

.resources-item-1 {
    grid-column: 1;
    grid-row: 1;
}

.resources-item-2 {
    grid-column: 2;
    grid-row: 1;
}

.resources-item-1,
.resources-item-2 {
    background-color: rgba(250, 247, 240, 0.92);
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

/* Summary page formatting */

.summary-item-1 {
    grid-column: 1;
    grid-row: 1;
}

.summary-item-2 {
    grid-column: 2;
    grid-row: 1;
}

.summary-item-1,
.summary-item-2 {
    background-color: rgba(250, 247, 240, 0.92);
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

/* Modals */

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    margin: 5% auto;
    margin-top: 2%;
    padding: 20px;
    background-color: #fff;
    width: 90%;
    height: 90%;
    border-radius: 8px;
}

.modal-content iframe {
    width: 90%;
    height: 100%;
}

.close-modal {
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
    color: #444;
}